
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    
    <title>正官庄香港官方網站 – 健康新概念．正官庄</title>
	<meta name="keywords" content="韓國正官庄高麗蔘香港原支蔘代理商：人蔘商品禮盒">
    <meta name="description" content="韓國正官庄高麗蔘香港代理商提供：正官庄高麗人蔘，高麗蔘粉，高麗蔘茶，高麗蔘精，高麗蔘粉膠囊，高麗蔘元，高麗蔘糖等各種正官庄禮盒,正官庄高麗人蔘商品,正官庄高麗蔘為公認的名品中的名品，歡迎選購。">
    <meta property="og:title" content="正官庄香港官方網站 – 為摯愛送上關懷．正官庄"/>
    <meta property="og:site_name" content="正官庄香港官方網站"/>
    <meta property="og:description" content="韓國正官庄高麗蔘香港代理商提供：正官庄高麗人蔘，高麗蔘粉，高麗蔘茶，高麗蔘精，高麗蔘粉膠囊，高麗蔘元，高麗蔘糖等各種正官庄禮盒,正官庄高麗人蔘商品,正官庄高麗蔘為公認的名品中的名品，歡迎選購。"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content=""/>
    
    <link href="style/bootstrap.min.css"  type="text/css" rel="stylesheet" >
    <link href="style/common.css"         type="text/css" rel="stylesheet">
    
    <script src="scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="scripts/common.js" type="text/javascript"></script>
  </head>
  
  <body>
        
    
    <div class='header'>
      <div class='wrap'>
        <div class='logo'>
            <img src="images/logo.jpg">
        </div>
      </div>
    </div>
    
    
    <!-- Start of XMO Site-wide Tag -->
    <script type="text/javascript">
    (function(){
    var script0 = document.createElement("script");
    script0.src = "//j02.optimix.asia/events/opxLoader.js";
    script0.type = "text/javascript";
    script0.async = "async";
    document.getElementsByTagName("head")[0].appendChild(script0);
    var opxUid='0';
    var opxcounter='1';
    var opxClientID='5414';
    var opxParams="opxvrsn=ut;opxUid="+opxUid+";"+"opxClientID="+opxClientID+";"+"opxcounter="+opxcounter+";";
    if (script0.readyState) {
      script0.onreadystatechange = function() {
        if (script0.readyState == "loaded" || script0.readyState == "complete") {
          opxLoad("//e02.optimix.asia", opxParams);
        }
      };
    } else {
      script0.onload = function () {
        opxLoad("//e02.optimix.asia", opxParams);
      };
    }
    })();
    </script>
    <!-- End of XMO Site-wide Tag  -->
    
    <!-- Start of XMO Insight Tag for FormSubmit(Event ID:13880) -->
    <script type="text/javascript">
    function XmoTag13880(opxlocation){
    var random = Math.random() + "";
    var _random = random * 10000000000;
    var _opxTAG = document.createElement("script");
    _opxTAG.src = "//e02.optimix.asia/trackingdata?rnum="+random+"&opxvrsn=func&opxUid=0&opxEventID=13880&opxClientID=5414&opxcounter=1&opxlocation="+opxlocation;
    document.getElementsByTagName('head')[0].appendChild(_opxTAG);}
    </script>
    <!-- End of XMO Insight Tag  -->
    
    
    <div class='hero-banner'>
      <div class='wrap'>
        <img src="images/hero-banner.jpg">
      </div>
    </div>
    
    <div class='main-content'>
      <div class='wrap'>
        <div class='promo-desc'>
          <p>
            亲，正官庄欢迎你来到香港旅游，为庆贺十一黄金周这个盛大节日，现亲临正官庄以下三间分店凭优惠券即可免费领取迎新禮品包(红润年轻的野樱莓汁乙包)，名额有限，送完即止。
          </p>
          <p>
            还有还有！千万不要错过<span class='red bold large'>风靡全个韩国</span>兼<span class='red bold large'>李栋旭OPPA推介</span>的<span class='red bold large'>绝无咖啡因提神健康饮品EVERYTIME</span>，EVERYTIME礼盒装（30包）黄金周优惠价港币690元正（<span class='red bold large'>买三送一</span>，平均每盒价），喝完EVERYTIME与OPPA一样可以限时瞬间复活。紧记关注我们正官庄的账号了解更多OPPA推荐的产品喔！ （扫瞄二维码或搜寻账号：krgchina）
          </p>
          <p>
            立马登记，即可领取迎新礼品及专享黄金优惠价购买EVERYTIME礼盒装，与李栋旭OPPＡ一样体验EVERYTIME的威力吧！
          </p>
          <p>
            <span class='bold underline'>完成登记后，请到已登記的电邮地址查收优惠码，然后到选定分店出示优惠码领取礼品及尊享黄金优惠价～</span>
          </p>
          <p>
            优惠期有限，名额先到先得喔！
          </p>
          <div class='float-container'>
            <div class='left'>
              <div class='store-location'>
                <ul>
                  <p class='bold'>适用于正官庄分店地址:</p>
                  <li>九龙区 – 尖沙咀弥敦道178号地下B&C铺（山林道口）联系电话：(852) 2736 8178</li>
                  <li>新界区 – 屯门市广场第一期2楼270D铺 联系电话：(852) 2149 1318</li>
                  <li>香港区 – 湾仔菲林明道7号好发商业大厦地下G3号铺（大有商场对面） 联系电话：(852) 2523 1983</li>
                </ul>
              </div>
              <div class='tnc'>
                <ul>
                  <p class='bold'>细则:</p>
                  <li>所有图片只供参考</li>
                  <li>每个账号只能换取赠品一次，赠品不能兑换现金或其他优惠</li>
                  <li>必须出示优惠编码领取礼品</li>
                  <li>所有赠品优惠名额有限，送完即止</li>
                  <li>优惠期由2017年9月29日至2017年10月8日</li>
                  <li>如有任何争议，正官庄保留最终决定权</li>
                </ul>
              </div>
            </div>
            <div class='right'>
              <div class='qr-code'>
                <img src="images/qr-code.jpg">
              </div>
            </div>
          </div>
          
          
                    
                    
          <form method="post" action="index.php"> 
          <div class='form-element' id='form'>
            <div class="alert alert-success">
              亲，谢谢你支持我们正官庄这次活动，紧记要支持李栋旭OPPA推介的产品EVERYTIME啊！
            </div>
            <div class="alert alert-danger">
              <p class='reason wechat'        >微信账号不能为空</p>
              <p class='reason email'         >电邮地址不能为空</p>
              <p class='reason email-invalid' >电邮地址不正确</p>
              <p class='reason tnc'           >请同意条款及细则</p>
              <p class='reason quota'         >亲~是次活动反应热烈，很抱歉礼品已火速地送完了！但你还可以支持李栋旭ＯＰＰＡ的优惠喔～</p>
              <p class='reason location'      >请选择分店</p>
              <p class='reason general'       >系统错误, 请稍候再试</p>
              <p class='reason registered'    >微信账号/电邮地址已被注册<br />亲，不好意思，你曾经登记了这次正官庄的活动了，希望下次来香港旅游再为你服务，谢谢。</p>
            </div>
            
            <div class='size-control'>
              <input type="text" class="form-control" placeholder="微信账号" name="wechat" value="" autocomplete="off">
            </div>
            <div class='size-control'>
              <input type="text" class="form-control" placeholder="电邮地址" name="email" value="" autocomplete="off">
            </div>
            <div class='size-control'>
              <div class="select-box">
                <select name="location">
                  <option value="">请选择以下分店</option>
                  <option value="hk">香港区</option>
                  <option value="kln">九龙区</option>
                  <option value="nt">新界区</option>
                </select>
              </div>
            </div>
          </div>
          <div class='form-footer'>
            <div class="agree-box">
              <label>
                <input type="checkbox" class="custom-box" id="agree" name="agree" value="">
                我同意上述的条款及细则
              </label>
            </div>
            <input type="submit" name="submit" value="注册" class="submit-btn">
          </div>
          </form>
        </div>
        
        <div class='product-shot'>
          <img src="images/product-shot.jpg">
        </div>
        
        
        <div class='foot-banner'>
          <img src="images/foot-banner.png">
        </div>
        
        <div class='footer'>
          <p>Copyright © 韩国高丽参(中国)有限公司. All rights reserved.</p>
        </div>
      </div>
    </div>
    
    <!-- AddThis Share Module --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf97fa5872c204"></script> 
    
  </body>
  
</html>