<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form method="get" >
			<div>
				<input type="text" name="wechat" placeholder="微信账号">
				<input type="text" name="email" placeholder="电邮地址">
				<select name="location" />
					<option value="">请选择以下分店</option>
					<option value="hk">香港区</option>
					<option value="kln">九龙区</option>
					<option value="nt">新界区</option>
				</select>
			</div>
			<div>
				<input type="checkbox" name="agree" value="">
				我同意上述的条款及细则
				<button>Submit</button>
			</div>
			<h2><%=msg %></h2>
			<h2>a: <%=msg %></h2>
		</form>
	</body>
</html>